---
layout: page
title: "Cours de 2020"
permalink: /2020/
phony: true
excerpt: "" # work around a bug
---

<ul class="double-spaced">
  {% assign lectures = site['2020'] | sort: 'date' %} {% for lecture in lectures
  %} {% if lecture.phony != true %}
  <li>
    <strong>{{ lecture.date | date: '%-m/%d' }}</strong>: {% if lecture.ready %}
    <a href="{{ lecture.url }}">{{ lecture.title }}</a>
    {% elsif lecture.noclass %} {{ lecture.title }} [no class] {% else %} {{
    lecture.title }} [coming soon] {% endif %} {% if lecture.details %}
    <br />
    ({{ lecture.details }}) {% endif %}
  </li>
  {% endif %} {% endfor %}
</ul>

Des enregistrements vidéo des cours sont aussi disponibles
<a
  href="https://www.youtube.com/playlist?list=PLyzOVJj3bHQuloKGG59rS43e29ro7I57J"
>
  sur YouTube</a
>.

<h2>Cours de l'an dernier</h2>

<p>
  Vous pouvez trouver les notes de cours et les vidéos
  <a href="/2019/">des cours de l'an dernier</a>. Les cours de chaque année sont
  auto-suffisants, et nous recommandons de suivre les cours les plus récents
  (c'est-à-dire, les cours de l'année 2020). Il peut y avoir quelques variations
  dans les thématiques abordées, c'est pourquoi nous continuons d'héberger les
  notes et vidéos des cours des années antérieures.
</p>
